.create-button-wrapper {
  position: absolute;
  top: 45px;
  right: 50px;
  height: 45px;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 7px 10px #ccc;
  background-color: #2b77ff;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  transform: scale(1);
  transition: .3s ease-in-out;
  padding: 0 20px;
}

.create-button-wrapper span {
  font-size: 16px;
  transform: translateY(-4px);
  display: inline-block;
}

button.create-button-wrapper:hover {
  box-shadow: 12px 12px 12px rgb(192, 192, 192);
}

.create-conatiner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc9;
}

.create-wrapper {
  min-width: 350px;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 13px 13px 11px #ccc;
  position: relative;
}

.create-close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  cursor: pointer;
}

.form-header {
  margin-top: 0;
  text-shadow: 5px 5px 5px #ccc;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 14px;
}

.input-group-label {
  font-weight: 600;
    margin-bottom: 5px;
    color: #626262;
    font-size: 13px;
}

.input-group-input {
  border: 1px solid #4d4d4d;
  border-radius: 4px;
  padding: 5px 10px;
  height: 30px;
  transition: .3s ease-in-out;
}

.input-group-input:active, .input-group-input:focus {
  border: 1px solid #4d4d4d;
  box-shadow: 1px 2px 8px #4d4d4da8;
  outline: none;
}

.input-error-msg {
  display: block;
  height: 12px;
  font-size: 11px;
  color: red;
  transform: translateY(-5px);
}

.input-submit-button {
  border: none;
  margin: 0 auto;
  margin-top: 5px;
  display: block;
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #2b77ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: .3s ease-in-out;
}

.input-submit-button:hover, .input-submit-button:active, .input-submit-button:focus {
  box-shadow: 10px 10px 9px #ccc;
}

@media only screen and (max-width: 460px) {
  .create-button-wrapper {
    right: 10px;
  }
}