.conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
}

.container-header {
  margin-top: 40px;
  margin-bottom: 25px;
  text-shadow: 6px 6px 6px #9b9b9b;
  cursor: default;
  width: 100%;
  transition: .3s ease-in-out;
}

.container-header:hover {
  text-shadow: 12px 12px 10px #858585;
}

@media only screen and (max-height: 570px) {
  .container-header {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 28px;
  }

  .create-button {
    top: 20px;
    height: 32px;
    padding: .075rem .75rem !important;
  }
}

/* @media only screen and (max-width: 460px) {
  .container-header {
    padding-left: 10px;
  }
} */
