.pagination-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-icon.pagination-box, .next-icon.pagination-box {
  width: 30px;
  height: 30px;
  border: none;
  padding: 8px;
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px #7778, inset -4px -3px 16px #ddd;
}

.prev-icon.pagination-box {
  margin-right: 10px;
}

.next-icon.pagination-box {
  margin-left: 10px;
}

.pagination-group {
  display: flex;
  height: 30px;
  border-radius: 30px;
  background: #fff;
  align-items: center;
  padding: 8px 15px;
  box-shadow: 2px 2px #7778, inset -4px -3px 16px #ddd;
}

.pagination-box {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
  margin: 0 3px;
  transition: .3s ease-in-out;
}

.pagination-box:hover {
  background-color: #d1e1ff;
  box-shadow: 5px 5px 10px #7778, inset -4px -3px 16px #ddd;
  color: #000;
}

.pagination-box.active, .pagination-box:hover.active {
  background-color: #2b77ff;
  box-shadow: none;
  color: #fff;
}

span.current-page {
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 11px;
  font-weight: bold;
}