.header {
  width: 100%;
  display: flex;
  transition: .3s ease-in-out;
}

.header-left-entries {
  max-width: 45%;
}

.header-left-entries {
  position: relative;
  display: flex;
}

.dropdown-div {
  position: relative;
}

.dropdown-selected-data {
  padding: 0 30px 0 8px;
  display: inline-block;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #aaa;
  height: 28px;
}

.entries-start-text, .dropdown-selected-data, .entries-end-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.dropdown-icon {
  position: absolute;
  right: 4px;
  top: 2px;
  transform: rotate(0deg);
  padding: 6px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.dropdown-div.active .dropdown-icon {
  transform: rotate(-180deg);
}

ul.dropdown-list, .search-dropdown-list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 8px #ccc;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  border-radius: 5px;
  z-index: 11;
  background-color: #fff;
  transition: .3s ease-in-out;
}

ul.dropdown-list {
  left: 8px;
}

.dropdown-div.active .dropdown-list {
  visibility: visible;
  opacity: 1;
}

li.dropdown-list-item, .search-dropdown-list-item {
  padding: 3px 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
}

.header-right {
  max-width: 45%;
}

.search-box {
  width: 100%;
  position: relative;
  margin-left: 15px;
}

.search-icon, .clear-icon {
  position: absolute;
  left: 0px;
  top: 2px;
  padding: 5px;
  cursor: pointer;

}

.clear-icon {
  left: auto;
  right: 15px;
  padding: 5px;
  transition: .3s ease-in-out;
}

.clear-icon.hidden {
  visibility: hidden;
  opacity: 0;
}

.search-input {
  width: 130px;
  max-width: 100%;
  height: 28px;
  border: none;
  border-radius: 4px;
  padding: 0 25px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  transition: .3s ease-in-out;
}

.search-input:active, .search-input:focus, .search-input:focus-visible, .search-input.hasvalue {
  border: 1px solid #aaa;
  width: 220px;
  max-width: 100%;
  outline: none;
}

/* @media only screen and (max-width: 460px) {
  .header {
    padding-left: 10px;
  }
} */