.table-wrapper {
  width: 100%;
  margin: 20px 0;
  padding: 12px;
  max-height: calc(100vh - 280px);
  min-height: calc(100vh - 280px);
  overflow: auto;
  transition: .3s ease-in-out;
  position: relative;
}

.table-background-cover {
  position: fixed;
  left: 0;
  top: 205px;
  width: calc(100% - 40px);
  z-index: 2;
  height: 55px;
  background: #fff;
  margin: 0 10px;
}

.table-header {
  font-weight: bold;
  color: rgb(82, 82, 82);
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 8px 20px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 9;
}

.table-header, .table-row {
  display: flex;
  width: 100%;
}

.table-row {
  height: 40px;
  align-items: center;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
  transition: .3s ease-in-out;
}

.table-row-wrapper:hover .table-row {
  box-shadow: 0px 12px 18px #a5a9b8;
  transform: scale(1.02);
  min-height: 40px;
  height: auto;
}

.table-header-data, .table-row-data {
  min-width: 75px;
  width: calc(25% - 7px);
  position: relative;
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s ease-in-out;
}

.sub-row-text {
  white-space: nowrap;
}

.table-row-wrapper:hover .table-row .table-row-data {
  text-overflow: initial;
  word-break: break-word;
}

.table-row-wrapper:hover .table-row .table-row-data .sub-row-text {
  white-space: initial;
}

.table-header-data {
  overflow: initial;
}

.table-header-data.sort-effect {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 4px 4px 12px #ccc;
}

.table-row-data.id-row {
  font-weight: bold;
  padding-left: 20px;
}

.id-header-sort-icon, .name-header-sort-icon, .subjects-header-filter-icon {
  position: absolute;
  right: 5px;
  padding: 3px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: .3s ease-in-out;
}

.id-header-sort-icon.reverse, .name-header-sort-icon.reverse {
  transform: rotate(-180deg);
}

.name-header-text, .id-header-text {
  width: calc(100% - 15px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-row-extra img {
  padding: 2px;
  cursor: pointer;
}

.table-header-extra, .table-row-extra {
  min-width: 28px;
  padding: 1px;
  display: flex;
  align-items: center;
}

.table-header-extra, .table-header-data  {
  border: none;
  font-size: 14px;
  height: 32px;
}

span.empty-table {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  margin-top: 15px;
}

.confirm-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc9;
  z-index: 1001;
}

.confirm-wrapper {
  min-width: 300px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 13px 13px 11px #ccc;
  position: relative;
}

.confirm-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-header-container .delet-icon {
  width: 100px;
  height: 100px;
}

.confirm-body-text {
  font-size: 14px;
  padding: 4px 20px;
  text-align: center;
}

.confirm-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
}

.confirm-footer-container button {
  min-width: 120px;
  height: 38px;
  border-radius: 4px;
  color: #fff;
  border: none;
  background-color: #999999;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.confirm-footer-container button.confirm-delete-buttton {
  background-color: #fe3b41;
}

.confirm-footer-container button:hover {
  box-shadow: 5px 5px 8px #ccc;
}

.table-row-extra img:hover {
  animation: shake 0.5s;
}

.filter-modal {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #ccc;
  position: absolute;
  right: 10px;
  top: 35px;
}

.filter-modal:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #b4b4b4;
  position: absolute;
  right: 8px;
  top: -8px;
}

.filter-modal .custom-control.custom-checkbox {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-modal .custom-control.custom-checkbox:hover, li.dropdown-list-item:hover {
  background-color: rgb(233, 233, 233);
}

.filter-modal input.custom-control-input {
  cursor: pointer;
}

.filter-modal label.custom-control-label {
  padding-left: 8px;
  cursor: pointer;
}

.modal-footer-btns {
  padding-top: 5px;
  display: flex;
}

.modal-footer-btns button {
  width: 50%;
  margin: 0;
  padding: 5px 0;
  border-radius: 0;
}

.modal-footer-btns button:first-child {
  border-bottom-left-radius: 5px;
}

.modal-footer-btns button:last-child {
  border-bottom-right-radius: 5px;
}

.mobile-email-row-text {
  display: block;
  height: 0;
  overflow: hidden;
  padding-left:  calc(33% - 0px);
  transform: translateY(-35px);
  opacity: 0;
  visibility: hidden;
  border: 1px solid transparent;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.table-overlay-spinner.hidden {
  opacity: 0;
  visibility: hidden;
}

.table-overlay-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bfbfc480;
  z-index: 1001;
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner .8s ease infinite;
}

@media only screen and (max-width: 768px) {
  .table-header-data, .table-row-data {
    width: calc(33% - 9px);
  }

  .table-header-data.email-header, .table-row-data.email-row {
    display: none;
  }

  .mobile-email-row-text {
  }

  .table-row-wrapper:hover .table-row .table-row-data, .table-row-wrapper:hover .table-row .table-row-extra {
    padding-bottom: 30px;
    text-overflow: initial;
    word-break: break-word;
  }

  .table-row-wrapper:hover .table-row + .mobile-email-row-text {
    overflow: initial;
    opacity: 1;
    visibility: visible;
    border-top: 1px solid #ccc;
    transition: .3s all .2s ease-in-out;
  }

  .table-background-cover {
    top: 200px;
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  .table-wrapper {
    padding: 2px 10px;
  }

  .table-background-cover {
    top: 190px;
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (max-height: 570px) {

  .table-wrapper {
    margin: 5px 0;
    min-height: calc(100vh - 190px);
  }

  .create-wrapper {
    height: calc(100% - 10px);
    overflow: auto;
  }

  .confirm-header-container .delet-icon {
    height: 40px;
    width: 40px;
  }

  .confirm-header-title {
    font-size: 24px;
  }

  .table-background-cover {
    top: 138px;
  }
}
